#contentWrap {
    width: 50%;
    margin: 0 auto;
}

#bgAnimation {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    animation: fadeIn 5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;

    } to {
        opacity: 1;
    }
}

.greetingForm,
.greetingTitle {
    display: none;
}

.showing {
    display: block;
}

.checkToDo {
    text-decoration: line-through;
}

span {
    background: white;
    margin-right: 15px;
    padding: 0 5px 0 5px;
}

button {
    margin-right: 5px;
}