body {
    width: 77%;
    height: 333px;
    margin: 0 auto;
}

.js-clock {
    background-color:peru;
    border: 2px solid black;
    text-align: center;
}

.form,
.greeting {
    display: none;
}

.showing {
    display: block;
}