body {
    width: 80%;
    height: 300px;
    border: 2px solid black;
    background-color: peru;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #6ab04c;
}

.clicked {
    color: blue;
    transition: color 0.5s ease-in-out;
}

.button {
    cursor: pointer;
}